div.application-top {
    background-color: #6b7c84;
    border-bottom: 1px solid #666;
    padding: 4px 6px 4px 6px;
}

div.application-bottom {
    padding: 10px;
}

ul#contacts-list {
    list-style: none;
}

ul#contacts-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -27px;
    margin-bottom: 5px;
    padding: 5px;
}

ul#contacts-list li:last-child {
    margin-bottom: 0;
}