div.application-top {
    background-color: #6b7c84;
    border-bottom: 1px solid #888;
    padding: 4px 6px 4px 6px;
}

div.form-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.application-bottom {
    padding: 10px;
}




