div.application {
    display: flex;
}

div.application div.application-top {
    text-align: right;
}

div.application-attachments ul {
    list-style: none;
}

div.application-attachments ul li {
    margin-left: -27px;
    margin-bottom: 10px;
}

div.application-attachments ul li:last-child {
    margin-bottom: 0;
}