div#main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

header {
    text-align: center;
}

div#controllers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

div#controllers-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div#controllers-left div#create-application {
    background-color: lightgray;
}

div#controllers-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

label {
    font-weight: normal;
    margin-left: 12px;
}

ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}